html
  head
    title Emergency Coffee Finder
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Emergency Coffee Finder
    div(class="initiation")
      input(id="go", type="submit", value="Find Me Some Coffee")
    div(class="input-section")
      laber(for="zip") Input Zip
      input(id="zip", type="number", placeholder="ZIP CODE", max="99999")
      input(id="enter", type="submit", value="enter")
    div(id="map")
    div(id="right-panel")
      h2 Results
      ul(id="places")
      button(id="more") More
    script(src="/client.js")
    